@use '@zocom/styles' as *;

body:has(.menu) {
    background: url('./assets/forrest.png'), lightgray 50% / cover no-repeat;
    background-color: $menuBg;
    padding: $padding $padding-large;
}
.menu {
    @include center;
    gap: $gap;
    padding: $padding;
    border-radius: $radiusRegular;
    background-color: $secondaryTextDark;
    color: $primaryTextLight;

    &__title {
        @include fontSizeHeadingRegular;
    }
}