@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Fira Sans', sans-serif;
}
$spacing-sml: 0.96px;
$spacing-large: 1.92px;
$fzBase: 16px;

@mixin fontSizeSmaller {
    font-size: calc($fzBase * 0.75);
    line-height: 80%;
}

@mixin fontSizeSmall {
    font-size: calc($fzBase * 0.875);
    font-weight: 500;
    line-height: 100%;
    text-transform: lowercase;
}

@mixin fontSizeRegular {
    font-size: $fzBase;
    line-height: 120%;
}

@mixin fontSizeBig {
    font-size: calc($fzBase * 1.375);
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
}

@mixin fontSizeBigger {
    font-size: calc($fzBase * 1.5);
    font-weight: 700;
    line-height: 180%;
    text-transform: uppercase;
}

@mixin fontSizeHeadingSmall {
    font-size: calc($fzBase * 1.75);
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

@mixin fontSizeHeadingRegular {
    font-size: calc($fzBase * 2);
    font-weight: 700;
    line-height: 240%;
    text-transform: uppercase;
}

@mixin fontSizeHeadingBig {
    font-size: calc($fzBase * 2.625);
    font-weight: 700;
    line-height: 315%;
    text-transform: uppercase;
}